__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/

data/avenue/testing
data/avenue/training
data/avenue/avenue_bboxes_test.npy
data/avenue/avenue_bboxes_train.npy
data/ped2/testing
data/ped2/training
data/ped2/ped2_bboxes_test.npy
data/ped2/ped2_bboxes_train.npy
data/shanghaitech/testing
data/shanghaitech/training
data/shanghaitech/shanghaitech_bboxes_test.npy
data/shanghaitech/shanghaitech_bboxes_train.npy

ckpts
logs
vis
tests
.kiro
docs
eval
.idea

assets/yolox_l_8x8_300e_coco_20211126_140236-d3bd2b23.pth
assets/FlowNet2_checkpoint.pth.tar
AGENTS.md

